<form [formGroup]="formCliente">

    <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" class="form-control" name="name" id="nome" formControlName="nome">
    </div>

    <div class="form-group">
        <label for="nome">Cadastro</label>
        <input type="text" class="form-control" name="Cadastro" id="Cadastro" formControlName="cadastro">
    </div>

    <div class="form-group">
        <label for="rg">RG</label>
        <input type="text" class="form-control" name="RG" id="rg" formControlName="rg">
    </div>

    <div class="form-group">
        <label for="rg">Telefone</label>
        <input type="text" class="form-control" name="Telefone" id="Telefone" formControlName="telefone">
    </div>

    <div class="form-group">
        <label for="rg">RG</label>
        <input type="text" class="form-control" name="RG" id="rg" formControlName="rg">
    </div>

    <div class="form-group">
        <label for="tipo">Tipo</label>
        <select class="form-control" name="tipo" id="tipo" formControlName="tipo">
            <option value="1">Pessoa física</option>
            <option value="2">Pessoa jurídica</option>
        </select>
    </div>

    <input type="submit" class="btn btn-primary mt-4" value="Salvar">
    <a href="#" class="btn btn-secondary mt-4 ml-2">Cancelar</a>

</form>