
          <div *ngIf="cliente">
          <p>
          <strong>Nome:</strong>
          {{cliente.nome}}
          </p>
          <p>
          <strong>RG:</strong>
          {{cliente.rg}}
          </p>

          <p>
          <strong>Orgão Expeditor:</strong>
          {{cliente.orgaoEx}}
          </p>
          <p>
          <strong>Cadastro:</strong>
          {{cliente.cadastro}}
          </p>
          <p>
          <strong>Telefone:</strong>
          {{cliente.telefone}}
          </p>
          <p>
          <strong>Tipo:</strong>
          {{cliente.tipo}}
          </p>
          
          <button type="button" (click)="edit()" class="btn btn-primary">Editar</button>

      </div>