<form [formGroup]="formCliente">

    <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" class="form-control" name="nome" id="nome" formControlName="nome">
    </div>

    <div class="form-group">
        <label for="cadastro">Cadastro</label>
        <input type="text" class="form-control" name="cadastro" id="cadastro" formControlName="cadastro">
    </div>

    <div class="form-group">
        <label for="rg">RG</label>
        <input type="text" class="form-control" name="rg" id="rg" formControlName="rg">
    </div>

    <div class="form-group">
        <label for="orgaoEx">orgaoEx</label>
        <input type="text" class="form-control" name="orgaoEx" id="orgaoEx" formControlName="orgaoEx">
    </div>

    <div class="form-group">
        <label for="telefone">Telefone</label>
        <input type="text" class="form-control" name="telefone" id="telefone" formControlName="telefone">
    </div>

    <div class="form-group">
        <label for="tipo">Tipo</label>
        <select class="form-control" name="tipo" id="tipo" formControlName="tipo">
            <option value="Pessoa física">Pessoa física</option>
            <option value="Pessoa jurídica">Pessoa jurídica</option>
        </select>
    </div>

    <input type="submit" class="btn btn-primary mt-4" value="Salvar" (click)="onSubmit()">
    <a href="#" class="btn btn-secondary mt-4 ml-2">Cancelar</a>

</form>